/* Footer Styles */

#footer {
  position: absolute;
  width: 100%;
  bottom: -50px;
  background: #191919;
  color: #fff;
  text-transform: uppercase;
  /* Override angular material class in order to work on Safari */

  .flex-100,
  .layout-column>.flex-100,
  .layout-row>.flex-100 {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .layout-xs-column>.flex-xs-100,
  .flex-xs-100,
  .layout-row>.flex-xs-100 {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }


  /* end overriding */
  h6 {
    font-size: 14px;
    margin-bottom: 13px;
  }

  hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 0;
    width: 90%;
  }

  .empty-block {
    line-height: 48px;
    display: block;
  }

  .switch-website {
    button {
      font-size: 10px;
    }
  }
}

@-moz-document url-prefix() {
  #footer {
    bottom: -60px;
  }
}

.footer-wrapper {
  position: relative;
  padding-top: 30px;
}

.social {
  .md-button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 200px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.07);
    }

    .md-ripple-container {
      border-radius: 50%;
    }
  }

  i {
    color: #fff;
    font-size: 24px;
    padding: 18px 10px;

    &.fa-pinterest-p {
      padding: 18px 13px;
    }

    &.fa-facebook {
      padding: 18px 13px;
    }
  }
}

#backtop {
  position: absolute;
  top: -0.5px;
  left: 50%;
  margin-left: -23px;
  bottom: initial !important;

  button {
    border: none !important;
    border-radius: 0 !important;
  }
}

.subscribe {
  width: 300px;
  margin-top: 0;
  position: relative;
  margin-bottom: 5px;

  label {
    color: #fff;
    font-size: 14px;
    text-transform: none;
  }

  input {
    font-family: $lato;
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
      font-family: $lato;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
      font-family: $lato;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      font-family: $lato;
    }

    &:-ms-input-placeholder {
      color: #fff;
      font-family: $lato;
    }
  }

  .md-input {
    border-color: #fff;
  }

  .send {
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
  }
}

.footer-menu {
  text-transform: uppercase;
  padding-bottom: 30px;

  h6 {
    margin-bottom: 10px;
  }

  a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.disclaimer {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: none;
  text-align: center;
  padding: 40px 15px;
  line-height: 22px;
}

@media(max-width: 961px) {
  #footer {
    position: relative;
    bottom: 0;
  }
}

@media(max-width: 600px) {
  .social {
    .md-button {
      margin-right: 50px;
    }
  }
}

@media(max-width: 400px) {
  .social {
    .md-button {
      margin-right: 20px;
    }
  }

  #footer {
    h6 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .footer-menu {
    a {
      text-align: center;
    }
  }
}

/* end Footer Styles */

md-dialog md-dialog-actions .md-button.md-small-theme {
  line-height: 20px;
  white-space: normal;
  height: auto;
  padding: 15px 15px !important;
}
