<div layout="column" layout-align="center center" class="footer-wrapper">
  <div flex>
    <h6 class="f-regular">Join Us On</h6>
  </div>
  <div layout="row" layout-align="center center" class="social">
    <button href="https://www.pinterest.com/baredfootwear" aria-label="Pinterest" target="_blank"><i class="fa fa-pinterest-p"
        aria-hidden="true"></i></button>
    <button href="https://www.facebook.com/baredfootwear" aria-label="Facebook" target="_blank"><i class="fa fa-facebook"
        aria-hidden="true"></i></button>
    <button href="https://instagram.com/baredfootwear" aria-label="Instagram" target="_blank"><i class="fa fa-instagram"
        aria-hidden="true"></i></button>
  </div>
  <div ng-hide="1">
    <div flex>
      <h6 class="f-regular">Subscribe to our vip mailing list</h6>
    </div>
    <div flex>
      <form novalidate ng-submit="vm.subscribe($event)">
        <div md-no-float class="subscribe">
          <input type="email" name="email" placeholder="your email..." ng-model="vm.subscriberEmail">
          <div class="send" ng-click="vm.subscribe($event)"><i class="material-icons">email</i></div>
        </div>
      </form>
    </div>
  </div>

  <div layout="column" layout-align="center center" class="footer-wrapper">
    <div layout="row" layout-align="center center" class="switch-website" ng-if="vm.testMode">
      <button ng-click="vm.globalSet('false')" ng-if="currency.value!='USD'">switch to international website</button>
      <button ng-click="vm.globalSet('AU')" ng-if="currency.value=='USD'">switch to australian website</button>

    </div>
  </div>

  <div flex class="empty-block">&nbsp;</div>
  <hr>
  <div layout-gt-sm="row" layout-sm="column" layout-xs="column" class="container footer-menu" layout-padding>
    <div layout="column" flex-gt-sm="35" flex-sm="100" flex-xs="100" layout-align-gt-sm="start center" layout-align-sm="center center"
      layout-align-xs="center center">
      <h6 class="f-regular">Customer Care</h6>
      <a ng-click="vm.gotoItem(item)" ng-repeat="item in vm.footer1">{{item.label}}</a>
    </div>
    <div layout="column" flex-gt-sm="35" flex-sm="100" flex-xs="100" layout-align-gt-sm="start center" layout-align-sm="center center"
      layout-align-xs="center center">
      <h6 class="f-regular">fitting options</h6>
      <a ng-click="vm.gotoItem(item)" ng-repeat="item in vm.footer2">{{item.label}}</a>
    </div>
    <div layout="column" flex-gt-sm="35" flex-sm="100" flex-xs="100" layout-align-gt-sm="start center" layout-align-sm="center center"
      layout-align-xs="center center">
      <h6 class="f-regular">your account</h6>
      <a ng-click="vm.gotoItem(item)" ng-repeat="item in vm.footer3">{{item.label}}</a>
    </div>
  </div>
  <hr>
  <div layout="column" class="disclaimer" layout-align="center center">
    © BARED PTY LTD,ABN 76 843 320 186 (Bared Trading Trust Owns & Operates The Website) <br>
    1098 HIGH STREET ARMADALE VIC 3143 AUSTRALIA
  </div>
</div>
