/* Header Bar Styles */
#logo {
  padding: 20px;
  position: relative;

  img {
    height:108px;
  }
}

.search-wrap {
  i {
    margin-top:27px;
  }

  md-autocomplete {
    .md-errors-spacer {
      display: none;
    }
  }
}

.search {
  width: 390px;
  margin-bottom: 0px;
  position: relative;
}

.search-btn {
  position: absolute;
  left: -25px;
  bottom: 20px;

  i {
    color: $grey;
  }
}

.header-parts {
  position: absolute;
  right: 55px;
  bottom: 40px;
  color: $grey;
}

.cart-info {
  min-width: 400px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  vertical-align: middle;

  .material-icons {
    vertical-align: middle;
    font-size: 20px;
  }

  div {
    margin-left: 10px;
  }

  .fa {
    font-size: 18px;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    color: $grey;

    &:focus {
      outline: none;
    }
  }
}

.badge {
  padding: 7px 10px 8px 13px;
  background: #000;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  font-family: $worksans;
  border-radius: 50%;
  margin-left: 5px;
}

/* end Header Bar */

/* Navigation Styles */

.nav {
  border-top: 1px solid $grey;
  border-bottom: 3px solid $grey;

  md-toolbar {
    min-height: 0;
    background: transparent !important;
  }

  md-menu-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: flex;

    .md-menu {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }

      &.md-open>button {
        background: #fff;
      }

    }

    &.md-open:not(.md-keyboard-mode) md-menu:hover>button {
      background-color: #fff !important;
    }

    button {
      font-family: $lato;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 4px;
      padding: 0 15px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      height: 46px;

      &:hover {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }

      &:focus {
        background: #fff;
      }
    }
  }
}

.md-open-menu-container.md-active {
  z-index: 9999;
}

md-menu-content.nav-content {
  background-color: rgba(0, 0, 0, 0.85) !important;
  padding: 0 !important;
  z-index: 999999;

  &.md-menu-bar-menu {
    &.md-dense {
      md-menu-item {
        height: 54px !important;
        z-index: 999;
      }

      .md-button {
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        height: 54px;
        padding: 0 15px !important;
        font-weight: 600;
        letter-spacing: 4px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          color: #fff;
        }
      }
    }
  }
}

/* end Navigation */

/* Shopping Cart Styles */
.shopping-cart {
  &.md-sidenav-right {
    position: fixed;
    overflow-y: scroll;
    max-width: 600px;
    width: 600px;
  }

  .md-button {
    width: 95%;

  }

  .close {
    padding-top: 25px;

    a {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  md-content {
    padding: 0 15px 0 40px;
  }

  h6 {
    text-transform: uppercase;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 23px;
  }

  .desc {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 23px;
  }

  .order-list {
    width: 100%;

    tr {
      td {
        vertical-align: top;
        padding-bottom: 30px;

        .label {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          padding-top: 15px;
          padding-right: 10px;

          a {
            cursor: pointer;
            color: red;
          }
        }

        &.prod-details {
          width: 200px;
        }

        &.prod-img {
          width: 100px;
          padding-right: 10px;

          img {
            width: 100%;
          }
        }

        md-input-container {
          width: 100%;
          margin: 0;

          .md-errors-spacer {
            display: none;
          }
        }

        .material-icons {
          font-size: 20px;
          line-height: 17px;
          vertical-align: middle;
        }

        .red {
          color: red;
        }

        .small-font {
          font-size: 80%;
        }
      }
    }
  }

  .mob-order-list {
    tr {
      td {
        padding-bottom: 20px;

        &.prod-img {
          width: 100px;
          vertical-align: top;
        }

        .options {
          padding-top: 5px;
        }

        .label {
          padding-right: 15px;
          padding-top: 10px;
        }

        md-input-container {
          margin-top: 0 !important;
          margin-bottom: 0 !important;

          .md-errors-spacer {
            display: none !important;
          }
        }

        .label {
          a {
            color: red;
          }
        }

        .material-icons {
          vertical-align: middle;
        }
      }
    }
  }

}

.totals {
  width: 100%;

  tr {
    td {
      font-size: 14px;
      line-height: 43px !important;
      text-transform: uppercase;

      &:last-child {
        text-align: right;
      }
    }
  }

  .total {
    td {
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      font-size: 24px;
      line-height: 43px;
      font-weight: 600;
      text-transform: uppercase;

      &:last-child {
        text-align: right;
      }
    }
  }
}

@media(max-width: 1100px) {
  .shopping-cart {
    .order-list {
      tr {
        td {
          &.prod-img {
            width: 150px;
          }
        }
      }
    }
  }
}

@media(max-width: 600px) {
  .shopping-cart {
    &.md-sidenav-right {
      width: 100%;
    }
  }
}

/* end Shopping Cart */
