<div fxLayout.gt-xs="row" layout-xs="column" id="tiles" layout-padding>
  <div fxFlex.gt-xs="50%" fxFlex="100%" class="tiles-part" *ngFor="let item of items">
    <a href="{{item.url}}"><img src="{{item.image|imageS3:'home'}}" width="100%" /></a>
    <a href="{{item.url}}"><button class="md-button md-raised">{{item.label}}</button></a>
  </div>
</div>